.postCardMain {
  display: flex;
  height: 21vmax;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(160, 160, 160, 0.845);
  margin: 1vmax;
  padding: 1vmax;
}

.postCardMain > .postCardTop > p {
  font: 300 1.1vmax cursive;
}

.postCardTop > h5 {
  font: 300 1.4vmax cursive;
  color: #3f51b5;
}
.postCardTop {
  width: 100%;
  height: 100%;
}

.button {
  width: 60%;
  align-items: center;
  height: 4vmax;
  background-color: #80deea;
  border-radius: 1vmax;
  border: none;
}
