.postCardMain {
  width: 25vmax;
  height: 20vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid gray;
  margin: 1vmax;
}
.postCardTop {
  width: 100%;
  height: 60%;
}
.postCardBottom {
  background-color: blue;
  width: 100%;
  height: 40%;
}
